.wrapper {
    margin-top: 48px;
    @include flex-space-between;
    align-items: stretch;
    gap: 32px;
    flex-wrap: wrap;

    & > * {
        flex: 1 1 20%;
        align-items: stretch;
    }
}

@media screen and (max-width: $SMALL_DESKTOP) {
    .wrapper {
        margin-top: 40px;
        flex-wrap: wrap;

        & > * {
            flex: 1 1 45%;
        }
    }
}
