.wrapper {
    @include flex-space-between;
    align-items: stretch;
    gap: 32px;
    padding: 128px 108px 64px;
    background-color: $lightPurple;

    .info {
        .title {
            font-weight: 700;
            color: $darkBlue;
            margin-bottom: 16px;
            font-size: 28px;
            line-height: 40px;
            letter-spacing: -0.04em;
        }

        .subtitle {
            @include subtitle;
            margin-bottom: 24px;
        }
    }
}

@media screen and (max-width: $DESKTOP) {
    .wrapper {
        padding: 110px 50px 50px;
        gap: 40px;
    }
}

@media screen and (max-width: $TABLET) {
    .wrapper {
        flex-direction: column;
        padding: 40px;
        gap: 45px;

        .info {
            .title {
                margin-bottom: 12px;
                font-size: 26px;
                line-height: 34px;
            }

            .subtitle {
                margin-bottom: 12px;
            }
        }
    }
}

@media screen and (max-width: $PHONE) {
    .wrapper {
        padding: 30px;

        .info .title {
            font-size: 22px;
            line-height: 30px;
        }
    }
}
