.categories {
    padding: 128px 0;

    .wrapper {
        @include flex-space-between;
        gap: 32px;
        margin-top: 48px;
    }
}

@media screen and (max-width: $SMALL_DESKTOP) {
    .categories .wrapper {
        flex-wrap: wrap;

        & > * {
            flex: 1 1 45%;
        }
    }
}

@media screen and (max-width: $SMALL_TABLET) {
    .categories {
        padding: 90px 0;

        .wrapper {
            gap: 24px;
            margin-top: 36px;

            & > * {
                flex: 1 1 100%;
            }
        }
    }
}
