.wrapper {
    margin-bottom: 58px;
    position: relative;

    .inputWrapper {
        @include flex-center;

        input {
            padding: 15px 25px;
            border: 1px solid rgba($gray, 0.5);
            border-right: none;
            border-radius: 6px 0 0 6px;
            flex: 1 1 auto;
        }

        button {
            border-radius: 0 6px 6px 0;
            background-color: $yellow;
            transition: all 0.3s ease;
            padding: 15px;
            border: 1px solid $yellow;

            &:hover {
                background-color: $darkYellow;
                border-color: $darkYellow;
            }

            &.disable {
                pointer-events: none;
                background-color: rgba($gray, 0.2);
                border-color: rgba($gray, 0.2);
            }
        }
    }
}

@media screen and (max-width: $SMALL_DESKTOP) {
    .wrapper {
        max-width: 620px;
        margin: 0 auto 60px;
    }
}

@media screen and (max-width: $SMALL_TABLET) {
    .wrapper {
        margin-bottom: 35px;
    }
}

@media screen and (max-width: $PHONE) {
    .wrapper {
        .inputWrapper {
            input {
                flex: 1 0 10px;
            }
        }
    }
}
