@mixin flex-center() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-space-between() {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin image() {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@mixin errorMessage() {
    font-size: 14px;
    color: $red;
    position: absolute;
    bottom: -25px;
}
