.wrapper {
    padding: 7px;
    @include flex-space-between;
    gap: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;

    &:hover {
        background-color: rgba($gray, 0.1);
    }

    .title {
        line-height: 20px;
        max-height: 60px;
        overflow: hidden;
        flex: 1 1 auto;
        color: $darkBlue;
    }

    .imageWrapper {
        flex: 0 0 80px;
        width: 80px;
        height: 60px;
        overflow: hidden;
        border-radius: 5px;

        img {
            @include image;
        }
    }
}
