.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.06em;
    color: $darkBlue;
    text-align: center;
}

@media screen and (max-width: $PHONE) {
    .title {
        font-size: 32px;
        line-height: 42px;
    }
}
