.section {
    padding: 128px 0 96px;
}

@media screen and (max-width: $SMALL_DESKTOP) {
    .section {
        padding: 128px 0 96px;
    }
}

@media screen and (max-width: $SMALL_TABLET) {
    .section {
        padding: 90px 0;
    }
}

@media screen and (max-width: $PHONE) {
    .section {
        padding: 65px 0;
    }
}
