.wrapper {
    position: relative;
    width: 100%;
    min-height: 445px;

    .imageWrapper {
        width: 100%;
        height: 445px;
        overflow: hidden;
        position: absolute;

        img {
            @include image;
        }
    }

    .block {
        padding: 0 108px;
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .indicators {
        background-color: $yellow;
        padding: 32px 48px;
        max-width: 630px;
        @include flex-center;

        .item {
            &:not(:last-child) {
                margin-right: 68px;
            }

            span {
                display: block;
                color: $darkBlue;
            }

            .value {
                font-weight: 700;
                font-size: 56px;
                line-height: 64px;
                margin-bottom: 7px;
            }

            .name {
                line-height: 20px;
            }
        }
    }

    .decor {
        height: 23px;
        display: flex;
        width: 100%;

        .yellow,
        .purple {
            height: 100%;
        }

        .yellow {
            background-color: $yellow;
            flex: 1 1 auto;
        }

        .purple {
            background-color: $purple;
            flex: 0 1 310px;
        }

        .transparent {
            flex: 0 1 170px;
        }
    }
}

@media screen and (max-width: $DESKTOP) {
    .wrapper {
        .block {
            padding: 0 50px;
        }

        .decor {
            .purple {
                flex: 0 1 210px;
            }
        }
    }
}

@media screen and (max-width: $SMALL_DESKTOP) {
    .wrapper {
        .indicators {
            max-width: none;
            width: 100%;
            padding: 25px;
        }

        .decor {
            .purple {
                flex: 0 1 33%;
            }

            .transparent {
                display: none;
            }
        }
    }
}

@media screen and (max-width: $LARGE_TABLET) {
    .wrapper {
        .indicators {
            flex-wrap: wrap;
            max-width: 350px;

            .item {
                &:not(:last-child) {
                    margin-bottom: 35px;
                    margin-right: 0;
                }

                .value {
                    font-size: 40px;
                    line-height: 48px;
                }

                text-align: center;
                flex: 1 1 100%;
            }
        }
    }
}

@media screen and (max-width: $SMALL_TABLET) {
    .wrapper {
        .indicators {
            max-width: none;

            .item {
                &:not(:last-child) {
                    margin-bottom: 30px;
                }

                .value {
                    font-size: 36px;
                    line-height: 42px;
                }
            }
        }

        .decor {
            .purple {
                flex: 0 1 50%;
            }
        }
    }
}
