.section {
    padding-top: 400px;
    margin-bottom: 128px;
}

@media screen and (max-width: $LARGE_TABLET) {
    .section {
        padding-top: 150px;
    }
}

@media screen and (max-width: $SMALL_TABLET) {
    .section {
        margin-bottom: 70px;
    }
}
